@use "../../styles/fonts.module.scss";
@import "../userProfile/userProfile.module.scss";
@import '../../mixins/common.scss';

// .nft-like-share-view-stat-container {
//     justify-content: flex-start;
//     padding: 0!important;
// }


.nft-name-date-share {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

    .nft-share-container {
        position: relative;
        display: inline-flex;
        padding-right: 16px;
        align-items: center;

        &:empty {
            display: none;
        }

        a{
            margin: 0 10px 10px 0;
        }

        // &::after {
        //     position: absolute;
        //     content: '';
        //     width: 1px;
        //     height: 50%;
        //     background: #ddd;
        //     top: 50%;
        //     right: 0;
        //     display: inline-flex;
        //     transform: translate(0, -50%);
        // }
    }

    .created-by-user.creatuser {
        display: flex;
        width: 45%;
        height: max-content;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 14px;

        .content-headers {
            display: flex;
            width: 100%;
            padding: 0 0 10px 0;
        }

        .created-by-content {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;

            a.userlink {
                display: inline-flex;
                width: 45px;
                height: 45px;
                overflow: hidden;
                border-radius: 50%;

                .user-icon {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .user-details {
            display: flex;
            width: calc(100% - 55px);
            flex-direction: row;
            flex-wrap: wrap;

            a {
                text-decoration: none;
                display: flex;
                width: 100%;
            }
        }
    }

    .shareouter {
        display: flex;
        border: 1px solid #ccc;
        border-radius: 10px;
        align-items: center;
        justify-content: space-around;
        color: #615d5d;
        font-size: 15px;
        font-weight: 600;
        font-family: "space_grotesklight";
        margin: 10px 10px 12px 0;
        width: 45%;
        height: max-content;

        .nft-share-container {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        span.nft-view {
            font-size: 14px;
            font-weight: 600;
            color: #838383;
            padding: 0 0 0 10px;
        }
    }
}

.nft-like-share-view-stat-container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    .likesec {
        display: inline-flex;
        align-items: center;
        padding: 0;
        position: relative;

        // &:after {
        //     position: absolute;
        //     content: '';
        //     width: 1px;
        //     height: 50%;
        //     background: #ddd;
        //     top: 50%;
        //     right: 0;
        //     display: inline-flex;
        //     transform: translate(0, -50%);
        // }
    }
}

.user-like-button {
    svg {
        fill: #838383;
        font-size: 24px;
    }
}

.nft-share-container {
    svg {
        fill: #838383;
        font-size: 24px;
    }
}

.collection-home-container {
    position: relative;

    .coverpic-outer {
        display: flex;
        width: 100%;
        min-height: 240px;
        background: #000;
        margin: 0 0 24px 0;
    }

    .cover-photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .collection-profile-header {
        font-family: "space_grotesklight";
        width: 100%;
        height: max-content;
        min-height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        .sale-container {
            display: flex;
            width: 35%;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 50px 0 0 0;
        }

        .contentsec {
            width: 60%;
        }

        .collection-profile-header-inner-container {
            width: 60%;
        }

        .btn-section {
            width: 40%;
            align-items: center;
            justify-content: flex-end;
            display: flex;
        }

        .collection-name-container {
            margin: 0;
            width: 100%;

            .collection-name-sec-view {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;

                span.token-id {
                    font-size: 20px;
                    font-weight: bold;
                    letter-spacing: 0.5px;
                }
            }

            .id-date {
                display: flex;
                flex-direction: column;
                width: 50%;
            }

            .toketypeouter {
                display: flex;
                width: auto;
                height: 73px;
                align-items: center;
                justify-content: center;
                min-width: 100px;
            }

            span.token-type {
                display: inline-flex;
                width: auto;
                min-width: 90px;
                padding: 5px;
                background: #000;
                border-radius: 15px;
                margin: 0 0 0 10px;
                color: #fff;
                align-items: center;
                justify-content: center;
                position: relative;
                font-size: 14px;
                letter-spacing: 0.5px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    background: #fff;
                    display: flex;
                    left: 15px;
                    border-radius: 100%;
                }
            }

            .token-name {
                display: flex;
                width: auto;
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 110%;
                color: #333333;
                padding: 0;
                max-width: 600px;
            }

            .followsec {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #000;

                .follower-count {
                    padding: 0 5px 0 16px;
                }
            }

            .socialmediaicons {
                display: flex;
                width: 50%;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .collection-action-button-group {
                display: inline-flex;
                background: transparent;
                box-shadow: none;
            }

            .namesec {
                width: 90%;

                .mint-nft-button {
                    display: inline-flex;
                    width: auto;
                    min-width: 100px;
                    height: max-content;
                    color: white;
                    background-color: black;
                    border-radius: 12px;
                    padding: 10px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    margin: 0 10px 10px 0;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }

                .action-wrapper {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    flex-wrap: wrap;
                    margin: 10px 0 0 0;
                }
            }
        }

        .ft-sale-action-container {
            @include content-box-mixin;
            width: 100%;
            margin-left: 16px;
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            .remaining-token-amount {
                font-size: 30px;
                font-weight: bold;
                font-family: 'bebas_neueregular';
                padding: 0 5px 0 0;
            }

            .counter-input {
                width: 200px;
                height: 100px;
                font-size: 2rem;
            }

            .buy-nft-action-button {
                display: flex;
                justify-content: center;
                margin-top: 25px;
                margin-bottom: 25px;

                button {
                    border-radius: 12px;
                    align-items: center;
                    padding: 10px 20px;
                    gap: 10px;
                    margin: 5px;
                    font-family: "space_grotesklight";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    width: 150px;
                }

                button:hover {
                    background: grey;
                }

                .create-button {
                    @include createbtn;
                }

                .discard-button {
                    @include cancelbtn;
                }
            }

            .marketplace-action-loader-button {
                width: 150px;
                border-radius: 12px;
                line-height: 26px;
                min-width: 200px;
            }

            .marketplace-action-button {
                border-radius: 12px;
                align-items: center;
                padding: 10px 20px;
                gap: 10px;
                margin: 5px;
                font-family: "space_grotesklight";
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                width: auto;
                @include createbtn;

                :hover {
                    background: grey;
                }
            }
        }

        .user-joining-date {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            text-transform: capitalize;
            color: #4f4f4f;
            display: flex;
            width: 100%;
            padding: 10px 0;
            box-sizing: border-box;
        }

        .user-action-container {
            a {
                // width: 427px;
                // height: 68px;
                color: white;
                background-color: black;
                border-radius: 12px;
                padding: 10px;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 31px;
                /* identical to box height */

                /* Gray 6 */

                color: #f2f2f2;
                margin-right: 10px;
            }

            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
            }

            a:active {
                text-decoration: none;
            }
        }
    }

    .created-by-user {
        @include content-box-mixin;
        border: 1px solid #bdbdbd;
        border-radius: 16px;
        padding: 16px;
        display: flex;
        width: 75%;
        flex-direction: column;
        flex-wrap: wrap;

        .content-headers {
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            color: #828282;
            padding: 0 0 10px 0;
        }

        .created-by-content {
            display: flex;

            .user-icon img {
                border-radius: 20px;
                max-width: 120px;
            }

            .user-details {
                margin-left: 10px;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                a {
                    display: flex;
                    width: 100%;
                }
            }

            .user-name {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 31px;
                display: flex;
                align-items: center;
                color: #000000;
            }

            .joining-date {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                display: flex;
                align-items: center;
                color: #828282;
                width: 50%;
            }

            button {
                width: auto;
                height: 35px;
                min-width: 100px;
                border: 2px solid #000;
                border-radius: 12px;
                margin: 2px;
                font-style: normal;
                font-weight: 800;
                font-size: 14px;
                line-height: 16px;
                display: flex;
                align-items: center;
                color: #000;
            }
        }
    }
}

.collection-home-container-outer {
    .content {
        margin-top: 5%;
    }

    .ft-buy-container {
        margin: 0 0 16px 0;
        @include content-box-mixin;

        .sale-by-minter-grid {
            width: 200px;

            .sale-by-minter {
                color: #fff;
                height: 20px;
                background-color: rgb(119, 145, 89);
                padding: 5px;
                min-width: 60px;
                align-items: center;
                justify-content: center;
                display: inline-flex;
                font-size: 13px;
                border-radius: 5em;
            }
        }

        .mint-nft-action-button {
            margin-top: 5px;
            margin-bottom: 0;
            min-width: 90px;
            width: auto;

            .create-button.Mui-disabled {
                background: #000;
                color: #fff !important;
                opacity: 0.2;
                min-width: 90px;
                width: auto;
            }
        }


    }
}

.tablesec {
    .item-activity {
        width: 100%;
        display: flex;
        max-width: 100%;
        padding: 0;
    }
}

.collection-name-sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    .collection-name-part {
        display: inline-flex;
        width: 90px;
        height: auto;
        align-items: center;
        justify-content: center;

        .user-like-button {
            font-weight: 800;
        }
    }

    .badgewrap {
        position: relative;
        margin: 0 0 0 10px;

        &::before {
            content: "";
            position: absolute;
            top: 35px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 12px 12px 0;
            border-color: transparent #050505 transparent transparent;
        }
    }

    span.badge {
        min-width: 30px;
        min-height: 15px;
        text-transform: capitalize;
        color: #ffffff;
        background: #000000;
        font-size: 14px;
        line-height: 15px;
        padding: 10px 15px;
        display: block;
        text-decoration: none;
        font-weight: 900;
        font-family: 'space_grotesklight';
        letter-spacing: 2px;
    }
}

.collection-name-only {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.remaintoken {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

span.remaining-token-amount {
    padding: 0 10px;
    font-weight: 900;
}

.mint-btn-sec {
    display: flex;
}
.following{
    background: #000;
   &>span{
        color: #fff;
    }
}
.date-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    .nft-name-date-share {
        .shareouter {
            width: 100%;
        }

        .created-by-user.creatuser {
            width: 100%;
        }
    }

    .collection-home-container {
        .coverpic-outer {
            background: transparent;
            min-height: inherit;

            .image-stack__item--top {
                max-height: inherit;
                height: auto;
                min-height: inherit;
            }

            .image-stack__item--bottom {
                position: static;
                width: 150px;
                transform: translate(0, 0);
                height: 150px;
            }
        }

        .collection-profile-header {
            .sale-container {
                display: none;
            }

            .collection-profile-header-inner-container {
                width: 100%;
                padding: 16px;
            }

            .collection-name-container {
                width: 100%;

                .token-name {
                    font-size: 24px;
                    max-width: initial;
                }

                .id-date {
                    width: 100%;
                }
            }
        }

        .collection-name-sec-view {
            width: 100%;
            align-items: center;
            justify-content: flex-start;
        }

        .created-by-user {
            width: 100%;
        }
    }

    .mint-btn-sec {
        margin: 16px 0 10px 0;
    }
}