.social-media-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    .social-icon {
        padding: 0 10px 0 0;
        width: 25px;
        height: 25px;
        display: inline-flex;
    }
}