@import "../../mixins/common.scss";
@import "../mintNFT/mintNFT.scss";

.create-collection-container {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    min-height: 100px;

    .additional-fields {
        min-width: 50%;
    }

    .outerfield {
        margin: 16px 0;
    }

    .cardouter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .cardview {
            display: flex;
            width: 32%;
            box-sizing: border-box;
        }
    }

    .toptext {
        display: flex;
    }

    h4.titlehead {
        font-family: 'bebas_neueregular';
        font-weight: 500;
        margin: 16px 0 0 0;
        font-size: 20px;
        letter-spacing: 0.3px;
    }

    p.choosetext {
        font-weight: 600;
        font-family: 'space_grotesklight';
        letter-spacing: 0.3px;
        font-size: 15px;
        margin: 0;
        display: flex;
        padding: 10px 0 15px;
    }

    .imageview {
        display: flex;
        width: 100%;
        height: 150px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .labeltext {
        font-size: 20px;
        text-align: left;
        justify-content: flex-start;
        display: flex;
        width: 100%;
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'bebas_neueregular';
        letter-spacing: 0.5px;
    }

    .page-header {
        font-family: "bebas_neueregular";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
    }

    .create-collection-fields-container {
        max-width: 90%;
        margin: 40px 0 0 0;

        .MuiGrid2-root.MuiGrid2-container {
            padding: 0 0 10px 0;

            .MuiFormControl-root.MuiTextField-root {
                min-width: 50%;
            }
        }
    }

    .collection-tabset {
        padding: 0 24px;
    }

    .collection-tabset .MuiButtonBase-root {
        display: inline-flex;
        width: 25%;
        text-transform: capitalize;
        font-family: "poppinsregular";
        min-height: 0px !important;
        padding: 8px !important;
    }

    .collection-tabset .MuiButtonBase-root.MuiTab-root.Mui-selected {
        color: #000 !important;
        line-height: 14px;
        display: inline-flex;
        min-height: initial;
        border-radius: 10px;
        font-family: "poppinsregular";
        text-transform: capitalize;
    }

    .MuiTabs-indicator {
        background-color: black;
    }

    .Mui-selected {
        color: black;
    }

    .toogleswitch {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        label{
            margin: 0;
        }
      }
      .inputfield {
        width: 100%;
    }
    .input-field-recent {
        width: 100%;
    }

// .kycsection{
//     border: 1px solid #333;
//     padding: 0 14px 14px 14px;
//     margin: 20px 0;
//     border-radius: 5px;
// }

//     h3.required-header {
//         font-size: 20px;
//         font-family: 'bebas_neueregular';
//         letter-spacing: 0.5px;
//     }

    // .toogleswitch {
    //     display: flex;
    //     align-items: center;
    //     justify-content: flex-end;
    // }

    // .imagesectionkyc {
    //     display: flex;
    //     width: 100%;
    //     height: auto;
    //     max-height: 300px;
    //     overflow: hidden;

    //     img {
    //         width: 100%;
    //         height: auto;
    //         object-fit: cover;
    //     }
    // }

    // .textcontainer {
    //     padding: 16px;
    //     font-family: 'space_grotesklight';
    //     color: #333;
    //     font-size: 14px;
    //     font-weight: normal;
    //     align-items: center;

    //     .kyctext {
    //         margin: 0;
    //         display: flex;
    //         width: 100%;
    //         height: 100%;
    //         align-items: center;
    //         justify-content: center;
    //     }
    // }
}

.create-collection-action-button {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;

    button {
        border-radius: 12px;
        align-items: center;
        padding: 10px 20px;
        gap: 10px;
        margin: 5px;
        font-family: "space_grotesklight";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        width: 150px;
    }

    button:hover {
        background: grey;
    }

    .create-button.create-btn-view {
        @include createbtn;
    }

}
.inputsection {
    padding: 0 15px 0 0;
}
.create-collection-outer-container{
    .stepper-mobile {
        width: 100%;
        max-width: 100%;
        button{
            color: #000;
        }
        button:disabled{
            color: #ccc;
        }
        .create-button{
            color: #fff;
        }
      }
    .discard-button {
        @include resetbtn;
    }
    .collection-feature-section{
        margin: 40px 0 0 0;
    }
    .nextbtn{
        color: #000;
    }
}

.collection-feature-child{
    width: 100%;
    .collection-view{
        width: 100%;
    }
}
.toggle-btn {
    margin: 0;
}

@media only screen and (max-width:769px) {
    .create-collection-container {
        .cardouter {
            .cardview {
                display: flex;
                width: 48%;
                box-sizing: border-box;
            }
        }
    }
    .additional-fields {
        min-width: 50%;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .create-collection-container {
        width: 90%;

        .create-collection-fields-container {
            .MuiGrid2-root.MuiGrid2-container {
                padding: 0 0 10px 0;

                .MuiFormControl-root.MuiTextField-root {
                    margin: 10px 0 0 0;
                    min-width: 100%;
                }
            }
        }

        .collection-tabset {
            padding: 0;

            .MuiTabs-flexContainer {
                width: 100%;

                .MuiButtonBase-root.MuiTab-root.Mui-selected {
                    min-width: 100px;
                    font-size: 13px;
                    height: max-content;
                    align-items: center;
                    justify-content: center;
                }

                .MuiButtonBase-root {
                    padding: 0;
                    line-height: 14px;
                    width: auto;
                }
            }
        }

        .cardouter {
            .cardview {
                display: flex;
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
}